@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1;
}

h1, h2 {
  font-family: "Roboto";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  text-justify: auto;
}

/*=================================MY CSS==================================*/
:root {
  --blue: rgb(59, 89, 152);
  --transparent-blue: rgba(59, 89, 152, 0);
  --light: rgb(232, 230, 227);
  --grey: rgb(56, 62, 66);
  --dark: rgb(32, 34, 36);
}

a {
  font-style: oblique;
  text-decoration: none;
  color: var(--dark);
}

.responsive {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

p + p {
  margin-top: 10px;
}

li {
  text-align: justify;
}

/*  *   *   *   *   *   *   *   *   *   *   *   *   *
                    Gestion du header               
*   *   *   *   *   *   *   *   *   *   *   *   *   */
header {
  padding-bottom: 30px;
  background-color: var(--light);
  /*  *   *   *   *   *   *   *   *   *   *   *   *   *   *   *
              Gestion des différents liens du bandeau         
  *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
  /*  *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *
                  Gestion de la bannière et photo de profil
  *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
  /*  *   *   *   *   *   *   *   *   *   *   *   *   *
                  Gestion de l'entête
  *   *   *   *   *   *   *   *   *   *   *   *   *   */
}
header #bandeau {
  background-color: var(--blue);
  width: 100%;
  height: 70px;
}
header #bandeau a {
  position: relative;
  display: inline-block;
  top: 3px;
  width: 64px;
  height: 64px;
  margin-left: 10px;
  margin-right: 10px;
}
header #bandeau a.github {
  background-image: url(../images/GitHub-Mark-Light-64px.png);
}
header #bandeau a.linkedin {
  background-image: url(../images/LinkedIn-Mark-64px.png);
  background-size: contain;
}
header #bandeau a#pdf {
  background-image: url(../images/Pdf.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header #banniere {
  height: 350px;
  margin-bottom: 100px;
  background-color: var(--grey);
}
header #banniere #particles-js {
  height: 350px;
}
header #banniere .separateur {
  position: relative;
  height: 7px;
  background-image: linear-gradient(to right, var(--transparent-blue), var(--blue), var(--blue), var(--transparent-blue));
}
header #banniere img#pdp {
  position: absolute;
  z-index: 2;
  display: block;
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
  top: 220px;
  left: calc(50% - 125px);
  border: 7px solid var(--blue);
  border-radius: 100%;
  background-color: var(--grey);
}
header #entete {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
header #entete p {
  color: var(--dark);
}
header #entete p + p {
  margin-top: 20px;
}
header #entete .center {
  text-align: center;
  width: 100%;
}
header #entete aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}
header #entete #NomPrenom {
  font-size: 60px;
}
header #entete #traits, header #entete #stage {
  font-size: 30px;
  margin: 10px 0px;
}
header #entete #stage {
  font-size: 30px;
  font-weight: 700;
  margin: 30px 20px;
}
header #entete button.reveal {
  font-size: 20px;
  background-color: grey;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
header #entete button.reveal:hover {
  cursor: pointer;
}

/*  *   *   *   *   *   *   *   *   *   *   *   *   *
                    Gestion du main
*   *   *   *   *   *   *   *   *   *   *   *   *   */
main {
  /*  *   *   *   *   *   *   *   *   *   *   *   *   *
                  Gestion de la bio
  *   *   *   *   *   *   *   *   *   *   *   *   *   */
  /*  *   *   *   *   *   *   *   *   *   *   *   *   *
                  Gestion de à propos
  *   *   *   *   *   *   *   *   *   *   *   *   *   */
  /*  *   *   *   *   *   *   *   *   *   *   *   *   *
                  Gestion de mes expériences
  *   *   *   *   *   *   *   *   *   *   *   *   *   */
  /*  *   *   *   *   *   *   *   *   *   *   *   *   *
                  Gestion de mes compétences
  *   *   *   *   *   *   *   *   *   *   *   *   *   */
  /*  *   *   *   *   *   *   *   *   *   *   *   *   *
                  Gestion de mes projets
  *   *   *   *   *   *   *   *   *   *   *   *   *   */
}
main > section {
  padding: 20px 0px;
}
main > section h1 {
  margin-left: 40px;
  font-weight: bold;
  font-size: 35px;
  text-decoration: underline;
  margin-bottom: 20px;
}
main > section h2 {
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
  margin-left: 40px;
  margin-bottom: 13px;
}
main > section:nth-child(2n+1) {
  background-color: var(--blue);
}
main > section:nth-child(2n+1) h1, main > section:nth-child(2n+1) h2, main > section:nth-child(2n+1) p, main > section:nth-child(2n+1) li, main > section:nth-child(2n+1) a {
  color: var(--light);
}
main > section:nth-child(2n) {
  background-color: var(--light);
}
main > section:nth-child(2n) h1, main > section:nth-child(2n) h2, main > section:nth-child(2n) p, main > section:nth-child(2n) li, main > section:nth-child(2n) a {
  color: var(--dark);
}
main #bio .quote p:first-child::before {
  content: "« ";
}
main #bio .quote p:last-child::after {
  content: " »";
}
main #bio .quote {
  text-align: center;
  margin: 0px 7vw;
  font-style: italic;
}
main #propos p {
  margin-left: 7vw;
  margin-right: 7vw;
  text-align: justify;
}
main #experience #limit canvas {
  padding: 0;
  margin: auto;
  display: block;
  box-sizing: border-box;
  width: 90vw;
  height: 30vh;
  background-color: var(--light);
  border: 2px solid var(--dark);
  border-radius: 25px;
}
main #experience #limit li {
  margin-top: 10px;
  margin-left: 7vw;
  margin-right: 7vw;
}
main #experience #limit #blue::before {
  background-color: blue;
}
main #experience #limit #purple::before {
  background-color: purple;
}
main #experience #limit #green::before {
  background-color: green;
}
main #experience #limit #orange::before {
  background-color: orange;
}
main #experience #limit #red::before {
  background-color: red;
}
main #experience > ul, main #experience p {
  margin-top: 20px;
  margin-left: 2vw;
}
main #experience > ul li, main #experience p li {
  list-style-type: disc;
  margin-top: 10px;
  margin-left: 5vw;
  margin-right: 7vw;
}
main #experience li::before {
  display: inline-flex;
  content: "";
  margin-left: -22px;
  margin-right: 5px;
  width: 22px;
  height: 22px;
}
main #competence .responsive {
  justify-content: center;
  flex-wrap: nowrap;
}
main #competence .responsive h2 {
  margin: 0;
  margin-left: 5px;
}
main #competence .responsive ul > li {
  margin-left: 5vw;
  margin-top: 20px;
  list-style-type: circle;
}
main #competence .responsive > section {
  max-width: 35%;
  padding: 25px;
}
main #competence .responsive > section:nth-child(2n) {
  background-color: var(--blue);
  border-radius: 25px;
}
main #competence .responsive > section:nth-child(2n) h2, main #competence .responsive > section:nth-child(2n) li {
  color: var(--light);
}
main #competence .responsive > section:nth-child(2n+1) {
  background-color: var(--light);
  border-radius: 25px;
}
main #competence .responsive > section:nth-child(2n+1) h2, main #competence .responsive > section:nth-child(2n+1) li {
  color: var(--dark);
}
main #competence .responsive > section:first-child {
  margin-left: 40px;
}
main #competence .responsive > section:last-child {
  margin-right: 40px;
}
@media only screen and (max-width: 900px) {
  main #competence .responsive {
    transition: all 1s ease-in;
    position: relative;
    display: inline;
    flex-wrap: unset;
    flex-direction: unset;
    justify-content: unset;
  }
  main #competence .responsive > section {
    max-width: none;
    width: 328px;
  }
  main #competence .responsive > section:nth-child(2n+1) {
    position: relative;
    overflow: auto;
  }
  main #competence .responsive > section:nth-child(2n) {
    position: relative;
    float: right;
    margin-left: 100%;
  }
  main #competence .responsive > section:first-child {
    margin-left: 0;
  }
  main #competence .responsive > section:last-child {
    margin-right: 0;
  }
}
main #projets .responsive {
  align-items: center;
}
main #projets .responsive div {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 250px;
  border: 2px solid var(--dark);
  margin: 25px;
  justify-content: center;
  align-content: center;
  border-radius: 25px;
  background-color: var(--light);
}
main #projets .responsive div a:first-child, main #projets .responsive div a:first-child:hover {
  transition: border-top-left-radius none;
  transition: border-top-right-radius none;
}
main #projets .responsive div a:last-child, main #projets .responsive div a:last-child:hover {
  transition: border-bottom-left-radius none;
  transition: border-bottom-right-radius none;
}
main #projets .responsive div a {
  transition: background-color 0.5s ease-in, font-size 0.5s ease-in;
  background-color: var(--light);
  display: table;
  flex: 1;
}
main #projets .responsive div a + a {
  border-top: 2px solid var(--dark);
}
main #projets .responsive div a:first-child {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}
main #projets .responsive div a:last-child {
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}
main #projets .responsive div a:hover {
  transition: background-color 0.5s ease-out, font-size 0.5s ease-out;
  background-color: var(--grey);
  font-size: 20px;
  color: var(--light);
}
main #projets .responsive div a:hover p {
  color: var(--light);
}
main #projets .responsive div a:first-child:hover {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}
main #projets .responsive div a:last-child:hover {
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}
main #projets .responsive div p {
  padding: 0 10px;
  display: table-cell;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: var(--dark);
}
main #projets .responsive div.clickable {
  box-shadow: 10px 5px 10px black;
}

/*# sourceMappingURL=cv.css.map */
