/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family:sans-serif;
    font-size: 20px;
	line-height: 1;
}
h1, h2{
    font-family: 'Roboto';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p{
    text-justify: auto;
}

/*==========================================================================*/

:root{
    --blue: rgb(59, 89, 152);;
    --transparent-blue: rgba(59, 89, 152, 0);
}

a{
    font-style: italic;
    text-decoration: 2px underline dotted;
}

header{
    padding-bottom: 30px;
}

.responsive{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

p + p{
    margin-top: 10px;
}

li{
    text-align: justify;
}

/*  *   *   *   *   *   *   *   *   *   *   *   *   *   *   *
            Gestion des différents liens du bandeau
*   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
#bandeau{
    background-color: var(--blue);
    width: 100%;
    height: 70px;

    a{
        position: relative;
        display: inline-block;
        top: 3px;

        width: 64px;
        height: 64px;

        margin-left: 10px;
        margin-right: 10px;
    }
    
    a.github{
        background-image: url(../images/GitHub-Mark-Light-64px.png);
    }

    a.linkedin{
        background-image: url(../images/LinkedIn-Mark-64px.png);
        background-size: contain;
    }

    .pdf{
        right: 0;
        background-image: url(../images/Pdf.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}


/*  *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *
                Gestion de la bannière et photo de profil
*   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
#banniere{
    z-index: 0;
    width: 100%;
    height: 150px;

    img{
        position: relative;
        object-fit: none; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        background-size: cover;
        z-index: 0;
        width: 100%;
        height: 350px;
    }
}

.separateur{
    position: relative;    
    z-index: 1;
    background-image: linear-gradient(to right, var(--transparent-blue), var(--blue), var(--blue), var(--transparent-blue));
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: bottom 60px center;

    img#pdp{
        position: relative;
        z-index: 0;

        width: 250px;
        height: 250px;

        display: block;
        margin-left: auto;
        margin-right: auto;

        border: 7px solid var(--blue);
        border-radius: 100%;
    }
}


/*  *   *   *   *   *   *   *   *   *   *   *   *   *
                Gestion de l'entête
*   *   *   *   *   *   *   *   *   *   *   *   *   */
#entete{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: auto;

    p{
        color: var(--blue);
        + p{
            margin-top: 20px;
        }    
    }

    .center{
        text-align: center;
        width: 100%;
    }

    #NomPrenom{
        font-size: 60px;
    }

    #traits{
        margin: 10px 0px 50px 0px;
    }
    
    #mail > a{
        color: var(--blue);
    }

    aside{
        text-align: center;
        width: 50%;
    }
}


/*  *   *   *   *   *   *   *   *   *   *   *   *   *
                    Gestion du main
*   *   *   *   *   *   *   *   *   *   *   *   *   */
main{
    > section{
        padding: 25px 0px;

        h1{
            margin-left: 5px;

            font-weight: bold;
            font-size: 45px;
            text-decoration: underline;
            margin-bottom: 20px;
        }
    
        h2{
            font-weight: bold;
            font-size: 35px;
            text-decoration: underline;
            margin-left: 40px;
            margin-bottom: 13px;
        }        
    }

    > section:nth-child(2n+1){
        background-color:var(--blue);
        color: white;

        a{
            color: white;
        }
    }

    > section:nth-child(2n){
        color: var(--blue);

        a{
            color: var(--blue);
        }
    }
}


/*  *   *   *   *   *   *   *   *   *   *   *   *   *
                Gestion de la bio
*   *   *   *   *   *   *   *   *   *   *   *   *   */
#bio{
    .quote p:first-child::before{
        content: "« ";
    }

    .quote p:last-child::after{
        content: " »";
    }

    .quote{
        text-align: center;
        margin: 0px 7vw;
        // font-size: 25px;
        font-style: italic;
    }
}


/*  *   *   *   *   *   *   *   *   *   *   *   *   *
                Gestion de à propos
*   *   *   *   *   *   *   *   *   *   *   *   *   */
#propos{
    p{
        margin-left:7vw;
        margin-right: 7vw;
        text-align: justify;
    }
}


/*  *   *   *   *   *   *   *   *   *   *   *   *   *
                Gestion de mes expériences
*   *   *   *   *   *   *   *   *   *   *   *   *   */
#experience{
    #limit{
        canvas{
            padding: 0;
            margin: auto;
            display: block;
            box-sizing: border-box;
            
            width: 90vw;
            height:30vh;

            background-color: white;
            border: 2px solid black;
            border-radius: 25px;
        }

        li{
            margin-top: 10px;
            margin-left: 7vw;
            margin-right: 7vw;
        }

        #blue::before{
            background-color: blue;
        }
    
        #purple::before{
            background-color: purple;
        }
    
        #green::before{
            background-color: green;
        }
    
        #orange::before{
            background-color: orange;
        }        
    }

    > ul, p{
        margin-top: 20px;
        margin-left: 2vw;

        li{
            list-style-type: disc;
            margin-top: 10px;
            margin-left: 5vw;
            margin-right: 7vw;
        }       
    }

    li::before{
        display: inline-flex;
        content: "";
        margin-left: -22px;
        margin-right: 5px;
        width: 22px;
        height: 22px;
    }     
}


/*  *   *   *   *   *   *   *   *   *   *   *   *   *
                Gestion de mes compétences
*   *   *   *   *   *   *   *   *   *   *   *   *   */
#competence{   
    .responsive{
        justify-content: center;
        flex-wrap: nowrap;

        > section{
            max-width: 40%;
            padding: 25px;
        }

        > section:nth-child(2n){
            background-color:var(--blue);
            color: white;
    
            a{
                color: white;
            }
        }
    
        > section:nth-child(2n+1){
            color: var(--blue);
    
            a{
                color: var(--blue);
            }
        }

        > section:first-child{
            margin-left: 40px;
        }

        > section:last-child{
            margin-right: 40px;
        }

        ul > li{
            margin-left: 5vw;
            margin-top: 20px;
            list-style-type: circle;
        }

        h2{
            margin: 0;
            margin-left: 5px;
        }
    }

    @media only screen and (max-width: 700px){
        .responsive{
            position: relative;
            display: inline;
            flex-wrap: unset;
            flex-direction: unset;
            justify-content: unset;

            > section{
                max-width: none;
                width: 328px;
            }

            > section:nth-child(2n + 1){
                position: relative;
                overflow: auto;
            }

            > section:nth-child(2n){
                position: relative;
                float: right;
            }

            > section:first-child{
                margin-left: 0;
            }
    
            > section:last-child{
                margin-right: 0;
            }            
        }
    }     
}


/*  *   *   *   *   *   *   *   *   *   *   *   *   *
                Gestion de mes projets
*   *   *   *   *   *   *   *   *   *   *   *   *   */
#projets{
    .responsive{
        div{
            display: flex;
            flex-direction: column;
            width: 280px;
            height: 210px;
            margin-top: 15px;
            border: 2px solid white;
            background-color: var(--blue);
            color: white;

            a{
                display: table;
                flex: 1;

                +a{
                    border-top: 2px solid white;
                } 
            }

            p{
                padding: 0 10px;
                display: table-cell;
                font-weight: bold;
                text-align: center;
                vertical-align: middle;
            }            
        }
    }
}