/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family:sans-serif;
    font-size: 18px;
	line-height: 1;
}
h1, h2{
    font-family: 'Roboto';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p{
    text-justify: auto;
}

/*=================================MY CSS==================================*/

:root{
    --blue: rgb(59, 89, 152);
    --transparent-blue: rgba(59, 89, 152, 0);
    --light: rgb(232, 230, 227);
    --grey: rgb(56, 62, 66);
    --dark: rgb(32, 34, 36);
}

a{
    font-style: oblique;
    text-decoration: none;
    color: var(--dark);
}

.responsive{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

p + p{
    margin-top: 10px;
}

li{
    text-align: justify;
}


/*  *   *   *   *   *   *   *   *   *   *   *   *   *
                    Gestion du header               
*   *   *   *   *   *   *   *   *   *   *   *   *   */
header{
    padding-bottom: 30px;
    background-color: var(--light);

    /*  *   *   *   *   *   *   *   *   *   *   *   *   *   *   *
                Gestion des différents liens du bandeau         
    *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
    #bandeau{
        background-color: var(--blue);
        width: 100%;
        height: 70px;

        a{
            position: relative;
            display: inline-block;
            top: 3px;

            width: 64px;
            height: 64px;

            margin-left: 10px;
            margin-right: 10px;
        }
        
        a.github{
            background-image: url(../images/GitHub-Mark-Light-64px.png);
        }

        a.linkedin{
            background-image: url(../images/LinkedIn-Mark-64px.png);
            background-size: contain;
        }

        a#pdf{
            background-image: url(../images/Pdf.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }


    /*  *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *
                    Gestion de la bannière et photo de profil
    *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
    #banniere{
        height: 350px;
        margin-bottom: 100px;
        background-color: var(--grey);

        #particles-js{
            height: 350px;       
        }

        .separateur{
            position: relative;

            height: 7px;

            background-image: linear-gradient(to right, var(--transparent-blue), var(--blue), var(--blue), var(--transparent-blue));
        }

        img#pdp{
            position: absolute;
            z-index: 2;
            display: block;

            max-width: 250px;
            max-height: 250px;
            object-fit: cover;

            top: 220px;
            left: calc(50% - 250px/2);

            border: 7px solid var(--blue);
            border-radius: 100%;

            background-color: var(--grey);
            
        }
    }


    /*  *   *   *   *   *   *   *   *   *   *   *   *   *
                    Gestion de l'entête
    *   *   *   *   *   *   *   *   *   *   *   *   *   */
    #entete{
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;

        p{
            color: var(--dark);

            + p{
                margin-top: 20px;
            }    
        }

        .center{
            text-align: center;
            width: 100%;
        }

        aside{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 50%;
        }

        #NomPrenom{
            font-size: 60px;
        }

        #traits, #stage{
            font-size: 30px;
            margin: 10px 0px;
        }

        #stage{
            font-size: 30px;
            font-weight: 700;
            margin: 30px 20px;
        }

        button.reveal{
            font-size: 20px;
            background-color: grey;
            border: none;
            border-radius: 5px;
            padding: 5px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}


/*  *   *   *   *   *   *   *   *   *   *   *   *   *
                    Gestion du main
*   *   *   *   *   *   *   *   *   *   *   *   *   */
main{
    > section{
        padding: 20px 0px;

        h1{
            margin-left: 40px;

            font-weight: bold;
            font-size: 35px;
            text-decoration: underline;
            margin-bottom: 20px;
        }
    
        h2{
            font-weight: bold;
            font-size: 25px;
            text-decoration: underline;
            margin-left: 40px;
            margin-bottom: 13px;
        }        
    }

    > section:nth-child(2n+1){
        background-color: var(--blue);

        h1, h2, p, li, a{
            color: var(--light);
        }
    }

    > section:nth-child(2n){
        background-color: var(--light);

        h1, h2, p, li, a{
            color: var(--dark);
        }
    }    


    /*  *   *   *   *   *   *   *   *   *   *   *   *   *
                    Gestion de la bio
    *   *   *   *   *   *   *   *   *   *   *   *   *   */
    #bio{
        .quote p:first-child::before{
            content: "« ";
        }

        .quote p:last-child::after{
            content: " »";
        }

        .quote{
            text-align: center;
            margin: 0px 7vw;
            // font-size: 25px;
            font-style: italic;
        }
    }


    /*  *   *   *   *   *   *   *   *   *   *   *   *   *
                    Gestion de à propos
    *   *   *   *   *   *   *   *   *   *   *   *   *   */
    #propos{
        p{
            margin-left:7vw;
            margin-right: 7vw;
            text-align: justify;
        }
    }


    /*  *   *   *   *   *   *   *   *   *   *   *   *   *
                    Gestion de mes expériences
    *   *   *   *   *   *   *   *   *   *   *   *   *   */
    #experience{
        #limit{
            canvas{
                padding: 0;
                margin: auto;
                display: block;
                box-sizing: border-box;
                
                width: 90vw;
                height:30vh;

                background-color:  var(--light);
                border: 2px solid var(--dark);
                border-radius: 25px;

                // box-shadow: 10px 5px 10px black;
            }

            li{
                margin-top: 10px;
                margin-left: 7vw;
                margin-right: 7vw;      
            }

            #blue::before{
                background-color: blue;
            }
        
            #purple::before{
                background-color: purple;
            }
        
            #green::before{
                background-color: green;
            }
        
            #orange::before{
                background-color: orange;
            }
            #red::before{
                background-color: red;
            }       
        }

        > ul, p{
            margin-top: 20px;
            margin-left: 2vw;

            li{
                list-style-type: disc;
                margin-top: 10px;
                margin-left: 5vw;
                margin-right: 7vw;
            }       
        }

        li::before{
            display: inline-flex;
            content: "";
            margin-left: -22px;
            margin-right: 5px;
            width: 22px;
            height: 22px;
        }     
    }


    /*  *   *   *   *   *   *   *   *   *   *   *   *   *
                    Gestion de mes compétences
    *   *   *   *   *   *   *   *   *   *   *   *   *   */
    #competence{   
        .responsive{
            justify-content: center;
            flex-wrap: nowrap;

            h2{
                margin: 0;
                margin-left: 5px;
            }
                        
            ul > li{
                margin-left: 5vw;
                margin-top: 20px;
                list-style-type: circle;
            }

            > section{
                max-width: 35%;
                padding: 25px;           
            }

            > section:nth-child(2n){
                background-color: var(--blue);
                border-radius: 25px;

                h2, li{
                    color: var(--light);
                }
            }

            > section:nth-child(2n+1){
                background-color: var(--light);
                border-radius: 25px;

                h2, li{
                    color: var(--dark);
                }
            }

            > section:first-child{
                margin-left: 40px;
            }

            > section:last-child{
                margin-right: 40px;
            }
        }

        @media only screen and (max-width: 900px){
            .responsive{
                transition: all 1s ease-in;
                position: relative;
                display: inline;
                flex-wrap: unset;
                flex-direction: unset;
                justify-content: unset;

                > section{
                    max-width: none;
                    width: 328px;
                }

                > section:nth-child(2n + 1){
                    position: relative;
                    overflow: auto;
                }

                > section:nth-child(2n){
                    position: relative;
                    float: right;
                    margin-left: 100%;
                }

                > section:first-child{
                    margin-left: 0;
                }
        
                > section:last-child{
                    margin-right: 0;
                }            
            }
        }     
    }


    /*  *   *   *   *   *   *   *   *   *   *   *   *   *
                    Gestion de mes projets
    *   *   *   *   *   *   *   *   *   *   *   *   *   */
    #projets{
        .responsive{
            align-items: center;
            
            div{
                display: flex;
                flex-direction: column;
                width: 280px;
                height: 250px;
                border: 2px solid var(--dark);
                margin: 25px;
                justify-content: center;
                align-content: center;
                border-radius: 25px;
                background-color: var(--light);

                a:first-child, a:first-child:hover{
                    transition: border-top-left-radius none;
                    transition: border-top-right-radius none;             
                }

                a:last-child, a:last-child:hover{
                    transition: border-bottom-left-radius none;
                    transition: border-bottom-right-radius none;

                }

                a{
                    transition: background-color 0.5s ease-in, font-size 0.5s ease-in;
                    background-color: var(--light);
                    display: table;
                    flex: 1;

                    +a{
                        border-top: 2px solid var(--dark);
                    }
                }

                a:first-child{
                    border-top-left-radius: 22px;
                    border-top-right-radius: 22px;                    
                }

                a:last-child{
                    border-bottom-left-radius: 22px;
                    border-bottom-right-radius: 22px;
                }

                a:hover{
                    transition: background-color 0.5s ease-out, font-size 0.5s ease-out;
                    background-color: var(--grey);
                    font-size: 20px;
                    color: var(--light);

                    p{
                        color: var(--light);
                    }
                }

                a:first-child:hover{
                    border-top-left-radius: 22px;
                    border-top-right-radius: 22px;
                }

                a:last-child:hover{
                    border-bottom-left-radius: 22px;
                    border-bottom-right-radius: 22px;
                }

                
                p{
                    padding: 0 10px;
                    display: table-cell;
                    font-weight: bold;
                    text-align: center;
                    vertical-align: middle;

                    color: var(--dark);
                }
            }

            div.clickable{
                box-shadow: 10px 5px 10px black;
            }
        }
    }
}